@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SUIT-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TmoneyRoundWindExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.fontRegular {
  font-family: "SUIT-Regular", sans-serif;
  font-weight: 400;
}

.fontBold {
  font-family: "SUIT-Bold", sans-serif;
  font-weight: 700;
}

.fontExtraBold {
  font-family: "TmoneyRoundWindExtraBold", sans-serif;
  font-weight: 800;
}

@layer base {
  :root {
    --dark_gray: #6d6e71;
    --gray: #cccccc;
    --light_gray: #e3e3e3;
    --pastel_gray: #f3f3f6;
    --light_blue: #e3ecff;
    --pastel_blue: #5850fe;
    --black: #000000;
    --white: #ffffff;
  }

  * {
    @apply box-border p-0 m-0;
  }

  body {
    @apply flex flex-col items-center;
  }

  #root {
    @apply relative w-full h-full max-w-screen-sm min-h-screen px-5 py-0 m-0;
  }

  .theme__light_blue {
    @apply bg-light_blue text-pastel_blue;
  }

  .theme__pastel_blue {
    @apply text-white bg-pastel_blue;
  }

  .theme__btn_outline {
    @apply bg-white border-pastel_blue text-pastel_blue;
  }

  .theme__btn_white {
    @apply bg-white text-dark_gray;
  }

  .container {
    @apply w-full p-5 bg-white rounded-lg;
  }
}

@layer components {
  .inputFiled {
    @apply w-full p-3 mb-4 border rounded-lg cursor-pointer h-11 border-gray placeholder-gray focus:outline-none focus:ring-1 ring-pastel_blue focus:border-pastel_blue;
  }
}
@layer components {
  .submitBtn {
    @apply w-56 m-5 text-xl text-white bg-pastel_blue hover:bg-pastel_gray hover:text-pastel_blue h-14 rounded-2xl;
  }
  .cancelBtn {
    @apply w-56 m-5 text-xl text-pastel_blue bg-pastel_gray hover:bg-pastel_blue hover:text-pastel_gray h-14 rounded-2xl;
  }
}
